.form-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-group-append {
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 104%;
  font-size: 20px;
  transform: translate(-10%, -10%);
}

.error {
  color: red;
}

input {
  margin-top: 10px;
}

button {
  margin-top: 5%;
}


