<body class="text-center">
  <div *ngIf="carregar">
    <ngx-spinner
      bdColor="rgba(0,0,0,0.94)"
      size="medium"
      color="#fff600"
      type="pacman"
      [fullScreen]="true"
    >
      <p class="loading" style="color: white">Carregando...</p>
    </ngx-spinner>
  </div>

  <div class="container-xxl">
    <mat-form form [formGroup]="resetForm" class="form-signin">
      <h3 class="mb-3 font-weight-normal">Reset Password</h3>
      <div class="input-group">
        <input
          formControlName="pass1"
          type="password"
          id="inputEmail"
          class="form-control"
          placeholder="Password"
          required
          autocomplete="off"
        />

        <div class="input-group-append">
          <span
            matTooltip="Senha deve conter ao menos 6 caracteres"
            matTooltipPosition="right"
          >
            <mat-icon class="fa fa-question-circle mat" aria-hidden="true">
            </mat-icon>
          </span>
        </div>
      </div>

      <div class="input-group">
        <input
          formControlName="pass2"
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Confirm Password"
          required
          autocomplete="off"
        />

        <div class="input-group-append confirm">
          <span
            matTooltip="Senha deve conter ao menos 6 caracteres"
            matTooltipPosition="right"
          >
            <mat-icon class="fa fa-question-circle mat" aria-hidden="true">
            </mat-icon>
          </span>
        </div>
      </div>

      <div class="error">
        <span *ngIf="resetForm.hasError('notSame')">
          Senhas não coincidem!
        </span>
      </div>
     
        <button
          (click)="login()"
          [disabled]="resetForm.invalid"
          class="btn btn-lg btn-primary btn-block"
          type="submit"
        >
          Reset
        </button>
     
      
    </mat-form>
    
  </div>
</body>
