<div *ngIf="carregar">
  <ngx-spinner
    bdColor="rgba(0,0,0,0.94)"
    size="medium"
    color="#fff600"
    type="square-jelly-box"
    [fullScreen]="true"
  >
    <p class="loading" style="color: white">Carregando...</p>
  </ngx-spinner>
</div>

<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Confirm Email</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    aria-describedby="modal-title"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="loginForm" class="form-signin">
    <div class="form-froup">
      <input
        formControlName="email1"
        type="text"
        id="inputEmail"
        class="form-control"
        placeholder="Email"
        required
        autofocus
      />
    </div>
    <br />
    <div class="form-group">
      <input
        formControlName="email2"
        type="text"
        id="inputEmail"
        class="form-control"
        placeholder="Confirm Email"
        required
      />
    </div>
    <span style="color: red" *ngIf="valida == true"> Emails Diferem !!! </span>
    <span style="color: red" *ngIf="erro == true">
      Erro ao realizar solicitação !!!
    </span>
  </form>
</div>
<div class="modal-footer">
  <button
    (click)="reset()"
    [disabled]="loginForm.invalid"
    type="submit"
    class="btn btn-lg btn-primary btn-block"
  >
    Reset
  </button>
</div>
